* {
    margin: 0px;
}

div {
    line-height: 100px;
    /*设置line-height与父级元素的height相等*/
    text-align: center;
    /*设置文本水平居中*/
    overflow: hidden;
    /* 防止内容超出容器或者产生自动换行 */
    width: 100px;
    height: 100px;
    background-color: rgb(252, 40, 2);
    position: relative;
    animation: anim 5s infinite;
}

@keyframes anim {
    0% {
        background: red;
        left: 0px;
        top: 0px;
    }

    25% {
        background: rgb(136, 255, 0);
        left: 100px;
        top: 0px;
    }

    50% {
        background: rgb(0, 140, 255);
        left: 100px;
        top: 100px;
    }

    75% {
        background: rgb(255, 0, 255);
        left: 0px;
        top: 100px;
    }

    100% {
        background: rgb(255, 0, 0);
        left: 0px;
        top: 0px;
    }
}